body{
    background-color: #2460a593;
}

.selected {
    color: rgb(238, 255, 0);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.secao_listas{
    display: flex;
    padding: 1rem;
    background-color: rgb(41, 46, 107);
    border-radius: 10px;
}

.div_listas{
    width: 100%;
    height: 200px;
    margin: 0.5rem;
    border-radius: 15px;
    overflow: auto;
    background: rgba(191, 194, 194, 0.315);
}

.div_listas h4{
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.div_listas ul{
    color: #fff;
    font-size: 1.2rem;
    list-style: circle;
    font-weight: bold;
}

#available-users{
    color: #16ff01;
}

#attended-users{
    color: red;
}

#secao_form{
    background-color: rgb(41, 46, 107);
    margin-top: 20px;
    border-radius: 10px;
}

form#form {
    padding: 20px;
    margin-bottom: -20px;
}

#chat{
    padding: 20px;
}

#chat h2{
    color: #fff;
    margin-top: -20px;
}

input{
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    padding-left: 10px;
    margin-bottom: 20px;
}

form#message-form {
    width: 100%;
    display: flex;
}

input#message {
    width: 100%;
    margin-right: 10px;
}

button {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: #2a548f;
    border: none;
    color: #fff;
}

#disconnect-btn{
    width: 150px;
}

.hidden {
    display: none;
}

#title_login{
    margin: 0;
    color: #fff;
    font-size: 2.5rem;
    padding: 20px;
}

#secao_form #form p{
    color: #fff;
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
}




::-webkit-scrollbar{
    background-color: #0e2647;
    width: 12px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #31496a;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}



#conversation {
    overflow-y: auto;
    height: 300px; /* Ajuste conforme necessário */
    padding: 10px;

    background-color: rgba(191, 194, 194, 0.315);
    border-radius: 15px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}

.message {
    display: flex;
    margin: 5px 0;
}

.messageInternaDireita{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messageInternaEsquerda{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.received-message {
    justify-content: flex-start;
    color: #000;
}

.received-message p {
    color: #000;
    min-width: 110px;
}

.sent-message {
    justify-content: flex-end;
    color: #007bff;
}

.message p {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #e1e1e1;
    margin: 0;
}

.sent-message p {
    background-color: #007bff;
    color: #fff;
    min-width: 110px;
}

.alinhamentoEsq{
    text-align: left !important;
}

p.dataHora{
    background: none;
    font-size: 0.7rem;
    padding: 0;
    text-align: right;
    padding-right: 0;
    color: #fff;
}


.linha_divisoria {
    margin-left: 10px;
    margin-right: 10px;
}

#user_select{
    color: #fff;
    font-size: 1rem;
}